name: Update README.md
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    name: Trigger update README.md
    runs-on: ubuntu-latest
    steps:
      - name: change time zone
        run: |
          sudo rm -rf /etc/localtime
          sudo ln -s /usr/share/zoneinfo/America/Los_Angeles /etc/localtime
      - name: Checkout files
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: setup python3
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Restore file time stamp
        uses: chetan/git-restore-mtime-action@v1

      - name: update README.md
        id: build
        run: python build_readme.py

      - name: Commit & push files
        if: ${{ steps.build.outputs.DO_UPDATE == 1 }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Add changes" -a
          git push
